sudo: required
services:
  - docker

before_install:
  - docker build -t mohantn/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run mohantn/react-test npm test -- --coverage

after_success:
  - docker build -t mohantn/multi-client -f ./client
  - docker build -t mohantn/multi-nginx -f ./nginx
  - docker build -t mohantn/multi-server -f ./server
  - docker build -t mohantn/multi-worker -f ./worker

  # Take those images to DockerHub
  # Docker login
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  - docker push mohantn/multi-client
  - docker push mohantn/multi-nginx
  - docker push mohantn/multi-server
  - docker push mohantn/multi-worker

